:root {
  color: green;
}

body {
  margin: 0 auto;
  background-color: black;
}

.container {
  font-family: monospace;
  margin: 1px;
  font-size: 3vh;
  display: flex;
  color: green;
  line-height: 0.9;
}

.container > div {
  align-content: center;
}
.container div:last-child {
  color: lightgreen;
  text-shadow: 0 0 1px chartreuse, 0 0 4px white;
}

[attribute^="col"] {
display: flex;
flex-direction: column;
}